name: Subgraph tests

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "subgraph/**"
      - ".github/workflows/ci-subgraph.yml"

defaults:
  run:
    working-directory: ./subgraph

jobs:
  compilation:
    name: Codegen & Compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Node dependencies cache
        uses: actions/cache@v3
        with:
          path: "subgraph/node_modules"
          key: yarn-${{ hashFiles('subgraph/yarn.lock') }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run codegen
        run: yarn codegen

      - name: Compile subgraph
        run: yarn build

      - name: Deploy on push on main branch
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: yarn graph auth --product hosted-service ${{ secrets.GRAPH_DEPLOYMENT_KEY }} && yarn deploy:prod